// _variables.scss

  // Colors
    $color-black: #111;
    $color-yellow: #FFDC3D;
    $color-gold: #FFBD3D;
    $color-orange: #FF963D;
    $color-tang: #F2653A;
    $color-red: #F22E3A;
    $color-white: #fff;
    $color-blue: #3A94F2;
    $color-darkblue: #121C3A;

  // Type
    $font-heading: 'Catamaran', Helvetica, sans-serif;
    $font-body: 'Roboto', Helvetica, ans-serif;

  // Breakpoints
    $bp-small: 544px;
    $bp-medium: 768px;
    $bp-large: 992px;
    $bp-xlarge: 1200px;