@charset "utf-8";
@import "bootstrap";
@import "normalize";
@import "mixins";
@import "variables";

/**
  // Breakpoint Mixin Reference
    @include media-breakpoint-up(xs) { ... }
    @include media-breakpoint-up(sm) { ... }
    @include media-breakpoint-up(md) { ... }
    @include media-breakpoint-up(lg) { ... }
    @include media-breakpoint-up(xl) { ... }
**/

html {
  font-size: 62.5%;
  height: 100%;
}
body {
  background: #081136;
  font-family: $font-body;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  padding: 0;
  margin: 0;
  position: relative;
  &:after {
    content: "";
    opacity: .3;
    position: fixed;
    background: url("../images/squrl-site-bg-2.jpg") no-repeat left center, url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/77302/squrl-site-bg-1.jpg") no-repeat right center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &.overflow {
    overflow: hidden;
  }
}
a {
  color: $color-blue;
  font-weight: 700;
  position: relative;
  &.text-link {
    border-bottom: 2px solid $color-blue;
    padding: 0 4px;
    text-decoration: none;
    overflow: hidden;
    @include transition;
    &:after {
      height: 0%;
      width: 100%;
      background: $color-blue;
      z-index: 1;
      content: "";
      bottom: 0;
      position: absolute;
      left: 0;
      @include transition;
    }
    span {
      display: inline-block;
      z-index: 2;
      position: relative;
    }
    &:hover {
      color: $color-white;
      &:after {
        height: 100%
      }
    }
  }
}
p {
  font-size: 1.8rem;
  margin: 0 0 20px;
  line-height: 1.5;
  &.headline {
    font-family: $font-heading;
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 1.3;
    // text-transform: uppercase;
  }
}
h1, h2, h3 {
  font-family: $font-heading;
  font-weight: 900;
  letter-spacing: .01em;
  line-height: 1;
  margin: 0 0 20px;
  padding: 0;
}
h1 {
  font-size: 5.4rem;
  @include media-breakpoint-up(md) {
    font-size: 6.4rem;
  }
}
h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: 2.8rem;
  }
  &.headline {
    padding: 0 0 40px 0;
    position: relative;
    &:after {
      background: $color-black;
      bottom: 0;
      content: "";
      height: 3px;
      left: 0px;
      position: absolute;
      width: 20%;
    }
  }
}
h3 {
  font-size: 1.8rem;
  @include media-breakpoint-up(md) {
    font-size: 2.4rem;
  }
}

.btn {
  border-radius: 100px;
  cursor: pointer;
  font-family: $font-heading;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: .06rem;
  line-height: 1;
  margin: 0;
  padding: 15px 30px;
  position: relative;
  text-transform: uppercase;
  z-index: 100;
}
.btn-tang {
  background: $color-tang;
  color: $color-yellow;
  display: inline-block;
  text-align: center;
  &:hover {
    background: darken($color-tang,2.5%);
    color: darken($color-yellow,2.5%);
  }
}
.btn-yellow {
  background: $color-yellow;
  color: $color-tang;
  display: inline-block;
  text-align: center;
  &:hover {
    background: darken($color-yellow,2.5%);
    color: darken($color-tang,2.5%);
  }
}
.site {
  background: #eee;
  box-shadow: 0 0 80px rgba(0,0,0,0.7);
  font-size: 1.0rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 10;
  @include media-breakpoint-up(xl) {
    max-width: 1200px;
  }
}
.site-masthead {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  @include transition;
  &.fold {
    background: rgba(255,255,255,0.9);
    height: 80px;
    .site-masthead-logo-type {
      opacity: 0;
    }
    @include media-breakpoint-up(md) {
      background: transparent;
    }
  }
  @include media-breakpoint-up(xl) {
    width: 1200px;
    @include horizontal-center;
    position: fixed;
  }
}
.site-masthead-logo {
  height: 65px;
  left: 30px;
  position: absolute;
  width: 200px;
  @include vertical-center;
  @include transition;
  & > div {
    display: inline-block;
    margin: 0 10px 0 0;
    position: relative;
    vertical-align: middle;
  }
  svg {
    height: 100%;
    width: 100%;
  }
  g {
    fill: $color-tang;
  }
  &.white {
    @include media-breakpoint-up(md) {
      g {
        fill: $color-white;
      }
    }
  }
}
.site-masthead-logo-emblem {
  width: 13.75%;
}
.site-masthead-logo-type {
  width: 69.375%;
  opacity: 1;
  @include transition;
}
.mobile-menu-trigger {
  display: block;
  position: absolute;
  cursor: pointer;
  font-size: 3.6rem;
  line-height: 1;
  right: 30px;
  @include transition;
  @include vertical-center;
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.site-nav {
  display: block;
  z-index: 1000;
  @include media-breakpoint-down(sm) {
    background: rgba(255,255,255,0.9);
    height: 100%;
    position: fixed;
    width: 100%;

    opacity: 0;
    z-index: -1;

    @include transition;
    &.active {
      opacity: 1;
      z-index: 10000;
    }
  }
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    @include vertical-center;
    position: fixed;
  }
  .close-button {
    display: none;
    @include media-breakpoint-down(sm) {
      cursor: pointer;
      display: block;
      font-size: 4.2rem;
      font-weight: bold;
      position: absolute;
      right: 34px;
      top: 30px;
    }
  } 
}
.site-nav-container {
  @include nolist;
  @include media-breakpoint-down(sm) {
    @include absolute-center;
    width: 300px;
  }
}
.site-nav-element {
  width: auto;
  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &:nth-child(1){
    .site-nav-link {
      background: $color-yellow;
    }
  }
  &:nth-child(2){
    .site-nav-link {
      background: $color-gold;
    }
  }
  &:nth-child(3){
    .site-nav-link {
      background: $color-orange;
    }
  }
  &:nth-child(4){
    .site-nav-link {
      background: $color-tang;
    }
  }
  &:nth-child(5){
    .site-nav-link {
      background: transparent;
    }
  }
}
.site-nav-link {
  background: #ddd;
  color: $color-black;
  cursor: pointer;
  display: inline-block;
  font-family: $font-heading;
  @include transition;
  @include media-breakpoint-down(sm) {
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    width: 100%;
    &:hover {
      padding: 20px;
    }
  }
  @include media-breakpoint-up(md) {
    border-radius: 0 40px 40px 0;
    padding: 20px 40px 20px 20px;
    width: auto;
    &:hover {
      padding: 20px 40px 20px 30px;
    }
  }
}
.site-nav-text {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  width: auto;
}
.site-help {
  bottom: 20px;
  left: 20px;
  position: fixed;
  z-index: 10;
  display: none;
  i {
    color: #999;
    font-size: 2.4rem;
  }
}
.site-block {
  background: #ddd;
  // min-height: 95vh;
  padding: 120px 0 0 0;
  width: 100%;
}
.site-block-yellow {
  background-color: $color-yellow;
  .site-block-content-header {
    color: $color-tang;
  }
}
.site-block-gold {
  background-color: $color-gold;
  .site-block-content-header {
    color: $color-tang;
  }
}
.site-block-orange {
  background-color: $color-orange;
  .site-block-content-header {
    color: $color-yellow;
  }
}
.site-block-tang {
  background-color: $color-tang;
  .site-block-content-header {
    color: $color-yellow;
  }
}
.site-block-red {
  background-color: $color-red;
  color: $color-white;
  a {
    color: darken($color-white,5%);
  }
}
.site-block-darkblue {
  background-color: $color-darkblue;
  color: $color-white;
  a {
    color: darken($color-white,5%);
  }
}
.site-nav-sub {
  @include nolist;
  position: absolute;
  max-width: 393.66px;
  width: 100%;
  text-align: center;
  z-index: 100;
  &.bottom {
    bottom: 0;
  }
  &.left {
    left: 0;
  }
  &.yellow {
    .site-nav-sub-ele {
      &:after {
        background: $color-yellow;
        z-index: 1;
      }
    }
  }
  &.gold {
    .site-nav-sub-ele {
      &:after {
        background: $color-gold;
        z-index: 1;
      }
    }
  }
  &.orange {
    .site-nav-sub-ele {
      &:after {
        background: $color-orange;
        z-index: 1;
      }
    }
  }
  &.tang {
    .site-nav-sub-ele {
      &:after {
        background: $color-tang;
        z-index: 1;
      }
    }
  }
}
.site-nav-sub-ele {
  padding: 10px;
  position: relative;
  text-align: left;
  width: 100%;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &:nth-child(1){
    &:after {
      opacity: 0.3;
    }
  }
  &:nth-child(2){
    &:after {
      opacity: 0.6;
    }
  }
}
.site-nav-sub-link {
  color: $color-black;
  display: block;
  font-family: $font-heading;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: .03em;
  line-height: 1;
  padding: 15px 10px;
  // text-transform: uppercase;
  @include media-breakpoint-up(xl) {
    padding: 15px 30px;
  }
  &:hover {
    text-decoration: none;
  }
  span {
    display: block;
    position: relative;
    z-index: 10;
  }
}
.site-block-content {
  .site-block-content-body {
    padding-bottom: 200px;
    // width: 60%;
  }
  .site-nav-sub {
    // text-align: center;
    // width: 60%;
  }
  .site-nav-sub-button {
    width: 100%;
  }
  .site-block-content-text {
    margin: 0 0 40px 0;
    & div[class*='col-']{
      padding-left: 0;
      padding-right: 15px;
    }
  }
  .site-block-content-img {
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    height: auto;
    width: 100%;
  }
}
.site-hero {
  background: url("../images/squrl-hero-bg.jpg") no-repeat left center;
  background-size: cover;
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 0;
  .site-nav-sub {
    @include flexbox;
    flex-wrap: wrap;
    max-width: 100%;
  }
  .site-nav-sub-ele {
    width: 100%;
  }
  .site-nav-sub-button {
    padding: 15px 0;
    width: 100%;
  }
  @include media-breakpoint-up(md) {
    background: url("../images/squrl-hero-bg.jpg") no-repeat center center;
    background-size: cover;
    height: 680px;
    padding-top: 0;
    .site-nav-sub-ele {
      width: 50%;
    }
  }
}
.site-hero-inner {
  background: rgba(255,255,255,0.6);
  height: 100%;
  width: 100%;
  @include media-breakpoint-up(md) {
    background: rgba(255,255,255,0.9);
    bottom: 0;
    height: 95%;
    padding: 40px 40px 135px 40px;
    position: absolute;
    right: 0;
    width: 500px;
  }
}
.site-hero-content {
  padding: 120px 20px 134px 20px;
  @include media-breakpoint-up(md) {
    padding: 0;
  }
  p {
    font-size: 2.4rem;
  }
  .site-masthead-logo-type {
    margin: 0 0 20px 0;
  }
}
.site-indiv {
  @include media-breakpoint-up(md) {
    background-image: url('https://dl.dropboxusercontent.com/u/80054631/squrl/squrl-indiv-bg.png');
    background-repeat: no-repeat;
    background-position: right 40px;
    background-size: 25%;
  }
}
.pricing-large {
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  margin: 5px 0 0 0;
  position: relative;
  &:before {
    background-color: $color-red;
    display: block;
    height: auto;
    color: lighten($color-red,40%);
    content: "1st Session FREE";
    font-family: $font-heading;
    font-size: 2.4rem;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 100%;
    @include rotate(-10);
  }
  & > * {
    display: inline-block;
  }
  .dollar {
    vertical-align: top;
  }
  .price {
    font-family: $font-heading;
    font-size: 9.0rem;
    line-height: 0.6;
    padding: 0 5px 0 0;
  }
  .suffix {
    vertical-align: top;
  }
}

.footer {
  font-family: $font-heading;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 0;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    padding: 20px 0;
  }
  &.footer-right {
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }
  .text-link {
    border-bottom: 2px solid $color-white;
    &:after {
      background: $color-white;
    }
    &:hover {
      color: $color-blue;
    }
  }
}
.social-media {
  .title, a, i, .label {
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
  }
  .label {
    margin-right: 0;
  }
}