doctype html
html
  head
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta charset="utf-8"
    meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"
    meta name="google-site-verification" content="jpxyqYNeGYrM6bJpmT7yESSrMHej5KLBkq5id7-2UfE" /
    
    title = current_page.data.title || "Squrl"

    link href="https://fonts.googleapis.com/css?family=Catamaran:900|Roboto:400,700" rel="stylesheet"

    link href="favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" /
    link href="favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60" /
    link href="favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" /
    link href="favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" /
    link href="favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" /
    link href="favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" /
    link href="favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144" /
    link href="favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" /
    link href="favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" /
    link href="favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png" /
    link href="favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" /
    link href="favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png" /
    link href="favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" /
    link href="favicon/manifest.json" rel="manifest" /
    meta content="#ffffff" name="msapplication-TileColor" /
    meta content="favicon/ms-icon-144x144.png" name="msapplication-TileImage" /
    meta content="#ffffff" name="theme-color" /

    == stylesheet_link_tag :site
    script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
    script src="https://use.fontawesome.com/c4e8049db1.js"
    script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"
    == javascript_include_tag  "init"

  body class="#{page_classes}"
    main.site
      section.global
        .site-masthead
          .site-masthead-logo
            .site-masthead-logo-emblem
              <svg width="356px" height="450px" viewBox="0 0 356 450" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><title>Group 3</title><desc>Created with Sketch.</desc><defs></defs><g id="Logo-Emblem" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Artboard-Copy-8" transform="translate(-1466.000000, -569.000000)" fill="#261009"><g id="Group-3" transform="translate(1466.000000, 569.000000)"><g id="Group-2"><g id="Group"><path d="M177,100 C177,100 214.960937,100 264.78125,100 C314.601562,100 343.609375,165.398438 352,192.734375 C360.390625,220.070312 352,289.472656 352,289.472656 L217.894531,450 L177.277344,450 L177,100 Z" id="Rectangle-2"></path><path d="M-3.03616218e-12,100 C-3.03616218e-12,100 37.9609375,100 87.78125,100 C137.601562,100 166.609375,165.398438 175,192.734375 C183.390625,220.070312 175,289.472656 175,289.472656 L40.8945312,450 L0.27734375,450 L-3.03616218e-12,100 Z" id="Rectangle-2-Copy" transform="translate(89.364583, 275.000000) scale(-1, 1) translate(-89.364583, -275.000000) "></path><path d="M92,65.1289063 C92,65.1289063 95.2527119,79.4641304 67.204481,88.8650464 C39.15625,98.2659624 28,120.394531 28,120.394531 C28,120.394531 23.8828125,111.253906 28,98.2659624 C49.5640025,46.4878289 78.140625,0 78.140625,0 C78.140625,0 88.2062217,4.4884285 92,22.3164062" id="Path-2"></path><path d="M331,65.1289063 C331,65.1289063 334.252712,79.4641304 306.204481,88.8650464 C278.15625,98.2659624 267,120.394531 267,120.394531 C267,120.394531 262.882812,111.253906 267,98.2659624 C288.564003,46.4878289 317.140625,0 317.140625,0 C317.140625,0 327.206222,4.4884285 331,22.3164062" id="Path-2-Copy-2" transform="translate(298.142717, 60.197266) scale(-1, 1) translate(-298.142717, -60.197266) "></path></g></g><rect id="Rectangle" x="147" y="100" width="63" height="350"></rect></g></g></g></svg>
            .site-masthead-logo-type
              <svg xmlns="http://www.w3.org/2000/svg" width="111" height="49" viewBox="0 0 111 49" version="1.1"><title>squrl-logo-type</title><desc>Created with Sketch.</desc><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-76.000000, -1057.000000)" fill="#F2653A"><g transform="translate(-58.000000, 984.000000)"><g transform="translate(134.203125, 73.625000)"><path d="M55.3 11.6C51.9 23.7 51.2 41.3 53.8 45.2 55.2 47.4 49.9 48.7 47.8 47.4 46.9 46.9 47 36.3 47.3 28.2 45.4 32.2 42.4 34.8 37.8 35 32.7 35.1 30.7 29.7 31.9 21.5 33.3 11.8 43.7 6 47.5 9.7 48.2 10.4 48.2 12.2 46.2 11.2 43.4 9.9 39.7 16.2 39.2 22 38.6 28.7 41.2 31.7 43 30 44.2 28.7 46.5 24.9 47.9 18.2 48.2 12.6 48.3 7 48.9 6.7 53.3 4.2 56.8 6.1 55.3 11.6L55.3 11.6ZM78.1 37.5C74 38.1 69.1 36 67.5 27.8 67.2 28.2 66.8 28.6 66.4 28.9 64.5 30.5 62.4 31.4 59.9 31 54.7 30.2 53.6 24.7 55 16.7 55.9 10.9 57.2 7.1 58.3 6.7 65.7 4.4 65.9 8.3 63 14 61.8 16.5 61.1 19.6 61 22.8 60.9 26.4 63.2 28.1 64.7 27 66.1 25.8 66.9 22.6 67.2 21.4 67.3 20.7 67.4 20.1 67.4 19.4 68 15.2 69.1 7.1 70.2 6.5 73.8 5.2 78 5.3 75.9 12.4 70.2 34.6 74.9 34.9 78.5 34.8 82 34.6 82.3 36.9 78.1 37.5L78.1 37.5ZM96.5 17.6C96.2 18.2 95.9 18.9 95.1 19.8 93.6 21.7 91.6 23 90 23.4 88 23.8 86 23.2 86.4 21.1 86.5 20.4 87.5 18.6 89.7 17.7 89.8 16.3 88.9 15.8 88.2 16.4 85.3 18.2 81 25.3 81 30.6L80.9 31.1C81 31.5 81 31.9 81.1 32.4 81.3 33.6 77 34.7 74.9 32.8 73.6 29.7 74 25.6 75.4 19.3 76.8 12.8 78.2 6.8 79 6.7 84.1 5.6 87.1 8.1 84.8 12.5 83.5 15 83 17.6 82.1 20.2 84.8 15.3 88.6 10.8 91.3 9.7 96.2 7.7 99.1 10.5 97.3 15.6 97.3 15.7 97.1 16.4 96.9 16.8 96.9 16.8 96.7 17.2 96.5 17.6L96.5 17.6ZM100 39.8C94.3 38.8 95.5 30.5 97.1 21.3 98.4 13.8 102.3 1.9 103.3 1.5 110.5-0.6 112.3 2.2 109.2 8.4 104.2 18.2 99.5 31.2 100.4 35.1 100.9 37.4 105.2 37.5 107.7 35.2 110.4 32.8 112.1 34.2 109 37 107.2 38.7 103 40.2 100 39.8ZM25.2 11.9C25.5 13.8 27 15.4 29 15.7 29.9 15.8 30.6 15.7 31.4 15.4 33.6 14.7 35.5 12.3 35.1 8.8 34.7 5.9 31.2 1.6 26.5 0.5 16.4-1.8 11.2 4.2 10.6 10.4 9.6 20.9 23.5 22.8 22.7 30.5 22.1 36.7 19 39.1 12.9 39.5 7.8 39.8 4.5 36.5 4 31.2 3.9 30.1 4 29.6 4 29 5.1 30.3 7 31.1 8.7 31 12 31 14.7 28.3 14.7 25 14.6 22.1 12.5 19.6 9.7 19.2 9 19.1 8.2 19 7.4 19.1 2.6 19.7-0.3 23.9 0 31.5 0.4 37.7 4.3 43.5 12.3 44 23.9 44.8 32.5 38.2 31.2 27.3 29.8 15.7 15.5 16.4 16.2 8.4 16.6 5.1 19.6 2.7 24.4 4 26.4 4.5 27.4 5.7 27.9 7 26.1 7.9 24.9 9.7 25.2 11.9L25.2 11.9Z"/></g></g></g></g></svg>
          #menu-trigger.mobile-menu-trigger
            i class="fa fa-bars" aria-hidden="true"
        .site-help
          i class="fa fa-question-circle" aria-hidden="true"
        nav.site-nav
          .close-button
            | &times;
          ul.site-nav-container
            li.site-nav-element
              a.site-nav-link href="#individuals"
                span.site-nav-text
                  | Individuals
            li.site-nav-element
              a.site-nav-link href="#corporate"
                span.site-nav-text
                  | Corporate
            li.site-nav-element
              a.site-nav-link href="#aboutsqurl"
                span.site-nav-text
                  | About
            li.site-nav-element
              a.site-nav-link href="#booknow"
                span.site-nav-text
                  | Book a Trainer
            / li.site-nav-element
            /   a.site-nav-link
            /     span.site-nav-text
            /       | Blog
      section.content
        == yield
        
    javascript:
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-73441383-1', 'auto');
      ga('send', 'pageview');

    javascript:
      window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
      })(document); smartlook('init', '0540a0d7f43a9bdcfe7e8d9621e61dafb64ee28f');

    javascript:
      window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '265ff08d-c488-4519-927c-7cad5d32f1f4', f: true }); done = true; } }; })();