---
title: Atlanta In-Home Personal Fitness &amp; Yoga Trainer - Squrl Fitness
---

section#home.site-block.site-hero
  .site-hero-inner
    .site-hero-content
      .site-masthead-logo-type.hidden-sm-down
        <svg xmlns="http://www.w3.org/2000/svg" width="111" height="49" viewBox="0 0 111 49" version="1.1"><title>squrl-logo-type</title><desc>Created with Sketch.</desc><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-76.000000, -1057.000000)" fill="#F2653A"><g transform="translate(-58.000000, 984.000000)"><g transform="translate(134.203125, 73.625000)"><path d="M55.3 11.6C51.9 23.7 51.2 41.3 53.8 45.2 55.2 47.4 49.9 48.7 47.8 47.4 46.9 46.9 47 36.3 47.3 28.2 45.4 32.2 42.4 34.8 37.8 35 32.7 35.1 30.7 29.7 31.9 21.5 33.3 11.8 43.7 6 47.5 9.7 48.2 10.4 48.2 12.2 46.2 11.2 43.4 9.9 39.7 16.2 39.2 22 38.6 28.7 41.2 31.7 43 30 44.2 28.7 46.5 24.9 47.9 18.2 48.2 12.6 48.3 7 48.9 6.7 53.3 4.2 56.8 6.1 55.3 11.6L55.3 11.6ZM78.1 37.5C74 38.1 69.1 36 67.5 27.8 67.2 28.2 66.8 28.6 66.4 28.9 64.5 30.5 62.4 31.4 59.9 31 54.7 30.2 53.6 24.7 55 16.7 55.9 10.9 57.2 7.1 58.3 6.7 65.7 4.4 65.9 8.3 63 14 61.8 16.5 61.1 19.6 61 22.8 60.9 26.4 63.2 28.1 64.7 27 66.1 25.8 66.9 22.6 67.2 21.4 67.3 20.7 67.4 20.1 67.4 19.4 68 15.2 69.1 7.1 70.2 6.5 73.8 5.2 78 5.3 75.9 12.4 70.2 34.6 74.9 34.9 78.5 34.8 82 34.6 82.3 36.9 78.1 37.5L78.1 37.5ZM96.5 17.6C96.2 18.2 95.9 18.9 95.1 19.8 93.6 21.7 91.6 23 90 23.4 88 23.8 86 23.2 86.4 21.1 86.5 20.4 87.5 18.6 89.7 17.7 89.8 16.3 88.9 15.8 88.2 16.4 85.3 18.2 81 25.3 81 30.6L80.9 31.1C81 31.5 81 31.9 81.1 32.4 81.3 33.6 77 34.7 74.9 32.8 73.6 29.7 74 25.6 75.4 19.3 76.8 12.8 78.2 6.8 79 6.7 84.1 5.6 87.1 8.1 84.8 12.5 83.5 15 83 17.6 82.1 20.2 84.8 15.3 88.6 10.8 91.3 9.7 96.2 7.7 99.1 10.5 97.3 15.6 97.3 15.7 97.1 16.4 96.9 16.8 96.9 16.8 96.7 17.2 96.5 17.6L96.5 17.6ZM100 39.8C94.3 38.8 95.5 30.5 97.1 21.3 98.4 13.8 102.3 1.9 103.3 1.5 110.5-0.6 112.3 2.2 109.2 8.4 104.2 18.2 99.5 31.2 100.4 35.1 100.9 37.4 105.2 37.5 107.7 35.2 110.4 32.8 112.1 34.2 109 37 107.2 38.7 103 40.2 100 39.8ZM25.2 11.9C25.5 13.8 27 15.4 29 15.7 29.9 15.8 30.6 15.7 31.4 15.4 33.6 14.7 35.5 12.3 35.1 8.8 34.7 5.9 31.2 1.6 26.5 0.5 16.4-1.8 11.2 4.2 10.6 10.4 9.6 20.9 23.5 22.8 22.7 30.5 22.1 36.7 19 39.1 12.9 39.5 7.8 39.8 4.5 36.5 4 31.2 3.9 30.1 4 29.6 4 29 5.1 30.3 7 31.1 8.7 31 12 31 14.7 28.3 14.7 25 14.6 22.1 12.5 19.6 9.7 19.2 9 19.1 8.2 19 7.4 19.1 2.6 19.7-0.3 23.9 0 31.5 0.4 37.7 4.3 43.5 12.3 44 23.9 44.8 32.5 38.2 31.2 27.3 29.8 15.7 15.5 16.4 16.2 8.4 16.6 5.1 19.6 2.7 24.4 4 26.4 4.5 27.4 5.7 27.9 7 26.1 7.9 24.9 9.7 25.2 11.9L25.2 11.9Z"/></g></g></g></g></svg>
      h1
        | Personal<br />Trainers + More
      p
        | In Your Pocket.<br />
        | At Your Disposal.
      p
        strong Get Started at<br />
        span.pricing-large 
          span.dollar $
          span.price 49
          span.suffix
            | /session
    ul.site-nav-sub.bottom.left.yellow
      li.site-nav-sub-ele
        a.site-nav-sub-button.btn.btn-tang href="#booknow" onClick="ga('send', 'event', { eventCategory: 'action', eventAction: 'click', eventLabel: 'booknow-home'});"
          span Book a Trainer Now
      li.site-nav-sub-ele
        a.site-nav-sub-link href="#individuals"
          span Get Fit With Squrl
section#individuals.site-block.site-indiv.site-block-yellow
  .site-block-content
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-md-7.offset-md-3
          header.site-block-content-header
            h1
              | Get Fit <br/>With Squrl
          main.site-block-content-body
            section.site-block-content-text.row
              .col-xs-10.col-md-6
                h2.headline
                  | I’m an individual who needs a personal trainer, right now.
            section.site-block-content-text.row
              .col-xs-10.col-md-3
                p
                  img.site-block-content-img src="images/womanbarbell.jpg"
              .col-xs-10.col-md-5
                h3
                  | Workout Anywhere
                p
                  | You can get fit wherever you are - home, office, gym, or park. Squrl coaches come to you for 1 hour - your workout is on your terms at your location.
            section.site-block-content-text.row
              .col-xs-10.col-md-6
                h3
                  | Choose a type of Coach
                p
                  | Squrl vets and verifies all coaches certifications including background checks for your peace of mind. Our coaches also come in a variety of disciplines from weight loss specialists, Vinyasa yoga instructors, to expert meal prep dieticians. The choice is yours.
              .col-xs-10.col-md-6
                img.site-block-content-img src="images/situpswithtrainer.jpg"
          ul.site-nav-sub.bottom.left.gold
            li.site-nav-sub-ele
              a.site-nav-sub-link href="#corporate"
                span Keep your company fit
            li.site-nav-sub-ele
              a.site-nav-sub-button.btn.btn-tang href="#booknow" onClick="ga('send', 'event', { eventCategory: 'action', eventAction: 'click', eventLabel: 'booknow-individuals'});"
                span Book a Trainer Now
section#corporate.site-block.site-busin.site-block-gold
  .site-block-content
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-md-7.offset-md-3
          header.site-block-content-header
            h1
              | Keep your <br />company fit
          main.site-block-content-body
            section.site-block-content-text.row
              .col-xs-10.col-md-6
                h2.headline
                  | Your company wants to keep its employees healthy.
            section.site-block-content-text.row
              .col-xs-10.col-md-8
                p
                  | Squrl has special corporate wellness packages to improve your employees’ health experience while at work.
                p
                  | Squrl can staff your company gym with trainers, instructors, and nutritionists for your employees, customers, tenants, etc.
                p
                  | <a class="text-link" href="mailto:corporate@squrlfitness.com" onClick="ga('send', 'event', { eventCategory: 'action', eventAction: 'click', eventLabel: 'corporate-inquiry'});"><span>Inquire today</span></a> about our corporate wellness packages and how Squrl can get your company on a fast-track to healthy working and living.
              .col-xs-10.col-md-4
                img.site-block-content-img src="images/trainercurls.jpg"
          ul.site-nav-sub.bottom.left.orange
            li.site-nav-sub-ele
              a.site-nav-sub-link href="#aboutsqurl"
                span About Squrl
            li.site-nav-sub-ele
              a.site-nav-sub-button.btn.btn-tang href="#booknow" onClick="ga('send', 'event', { eventCategory: 'action', eventAction: 'click', eventLabel: 'booknow-corporate'});"
                span Book a Trainer Now
section#aboutsqurl.site-block.site-about.site-block-orange
  .site-block-content
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-md-7.offset-md-3
          header.site-block-content-header
            h1
              | About Squrl
          main.site-block-content-body
            section.site-block-content-text.row
              .col-xs-10.col-md-6
                h2.headline
                  | We’re a startup that cares about fitness on your terms.
            section.site-block-content-text.row
              .col-xs-10
                p
                  | Squrl is an on-demand, personal fitness platform designed to connect you with local, certified fitness professionals bringing you closer to your fitness goals.
              .col-xs-10
                p
                  img.site-block-content-img src="images/legstretch.jpg" alt="Leg Stretch"
              .col-xs-10
                p
                  | We at Squrl know that it always seems like there is less hours in the day to do the things we want to do. Staying fit is made to seem like a daunting task, but here at Squrl we believe with expert instruction and on-demand booking, staying fit can be simple as a click, as easy as a push up, and should only take an hour - a few times a week.
              .col-xs-10
                p
                  | With a variety of coaches including various discipline personal trainers, yoga instructors, Pilates instructors, dieticians &amp; nutritionists for meal prep, there's more than enough ways to get and stay #SqurlFit all within 1 hour of your time.
              .col-xs-10
                h3.headline
                  | Press
                p
                  a href="https://hypepotamus.com/companies/squrl/" Hypepotamus <br />
                  a href="http://voyageatl.com/interview/meet-ifenyi-kanu-squrl-fitness-metro-atlanta/" VoyageATL
          ul.site-nav-sub.bottom.left.tang
            li.site-nav-sub-ele
              a.site-nav-sub-button.btn.btn-yellow href="#booknow" onClick="ga('send', 'event', { eventCategory: 'action', eventAction: 'click', eventLabel: 'booknow-about'});"
                span Book a Trainer Now
section#booknow.site-block.site-book.site-block-tang
  .site-block-content
    .container-fluid
      .row
        .col-xs-12.col-sm-10.col-md-8.offset-md-3
          header.site-block-content-header
            h1
              | Book a Trainer
          main.site-block-content-body
            .row
              .col-xs-12.col-sm-6
                p.headline
                  | We’re ready to train when you’re ready to get fit.
              .col-xs-12
                iframe src="https://app.acuityscheduling.com/schedule.php?owner=12805254" width="100%" height="800" frameBorder="0"
                script src="https://d3gxy7nm8y4yjr.cloudfront.net/js/embed.js" type="text/javascript"
section#footer.site-block-small.site-footer.site-block-red
  .site-block-content
    .container-fluid
      .row
        .col-xs-12.col-md-8
          .footer.footer-left
            | &copy; 2010<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, Squrl Fitness LLC <a class="text-link" href="mailto:squrlfitness@gmail.com"><span>Contact Us</span></a>.
        .col-xs-12.col-md-4
          .footer.footer-right
            .social-media
              .title
                | Follow Us On 
              a.text-link href="https://www.instagram.com/squrlfitness/"
                span
                  i class="fa fa-instagram" aria-hidden="true"
                  .label Instagram
              a.text-link href="https://twitter.com/squrlfitness"
                span
                  i class="fa fa-twitter" aria-hidden="true"
                  .label Twitter
